.bgeffect{
    background-color: rgb(36, 35, 35);
    margin-top: 5%;
    margin-left: 10%;
    height: auto;
    width: 80%;
    border-radius: 5% 15%;
    line-height: 80%;
}

.card{
    background-color: rgb(11, 11, 27);
    /* margin-top: 5%;
    margin-left: 10%; */
    color:aliceblue;
    /* height: auto;
    width: 80%; */
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 30%;
}

ul{
    line-height: 120%;
}

h4{
    line-height: 130%;
}

.card img{
    margin: 8%;
    margin-right: 10%;
    height: auto;
    width: 30%;
    border-radius: 50%;
}

.info{
    padding: 5%;
    margin-left: 5%;
    text-align: center; 
    vertical-align: middle;
}

@media only screen and (max-width: 600px){
    .bgeffect{
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .card{
        display: block;
        margin-bottom: auto;
    }
    .card img{
        padding-top: 5%;
        height: auto;
        width: 80%;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .info{
        padding-bottom: 20%;
        margin-left: 0%;
    }
}